html, body {
  margin: 0;
  padding: 0;
background-color:#EEE;
}
.contact-card {width:200px; height:260px; margin:20px; padding:10px; border-radius:10px; background-color:white; text-align:center; display:inline-block}
.contact-info {display:flex; align-items:center; font-size:90%}
.photo-folder{display:flex; justify-content:center; height:120px; border-radius:5px; background-color:#444}
.photo{max-height:120px;}
.name{text-align:left; margin:20px 0px 15px; font-size:100%; font-weight:bold; width:98%; display:block;}
.icon{ width:20px;}
.email, .phone {margin:5px 0px; text-align:left; width:98%; text-decoration:none; color:black;}

.button{margin:5px; float:right}

.readOnly{border:none; background:transparent; color:black; padding:2px 0px}
.readWrite{border:solid 1px}

.on{display:block;}
.off{display:none}

.category{margin:5px; display:block;}
.myContacts{display:flex;}
.categories{display: inline-block; width: 200px;}
.contacs{display:inline-block;}